<app-navbar *ngIf="usuario.Rol=='Alumno'"></app-navbar>
<h1 *ngIf="usuario.Rol == 'Alumno'"class="md:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center" style=" margin-top: 25px; font-size: 35px;">Solicitar un recurso</h1>
<h1 *ngIf="usuario.Rol == 'Administrador'" class="md:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center" style=" margin-top: 25px; font-size: 35px;">Solicitudes enviadas</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-6" >
            <div class="filter-container custom-filter-container card p-3 shadow-sm"  >
                <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#modalSolicitud" *ngIf="usuario.Rol =='Alumno'" (click)="abrirModalNuevaSolicitud()" >Nueva solicitud</button>
                 <div class="col-6" style="margin: auto;">
                  <label for="categoryFilter" class="form-label text-center-label" style="margin-top: 10px;" *ngIf="usuario.Rol=='Alumno'">Filtrar por:</label>
                  <h5 class="text-center" *ngIf="usuario.Rol=='Administrador'">Filtrar por:</h5>
                  <div class="d-flex align-items-center" style="gap: 10px; margin-top: 10px;" *ngIf="usuario.Rol=='Administrador'">
                    <label for="categoryFilter" class="form-label text-center-label" style="margin: 0;">Estatus:</label>
                    <select id="categoryFilter" class="form-control" [(ngModel)]="estatusSeleccionado" (change)="aplicarFiltros()">
                      <option value="Enviada">Enviadas</option>
                      <option value="Aprobada">Aprobadas</option>
                      <option value="Finalizada">Finalizadas</option>
                      <option value="Rechazada">Rechazadas</option>
                      <option value="">Todas</option>
                    </select>
                  
                    <label for="dateFilter" class="form-label" style="margin: 0;">Fechas:</label>
                    <select id="dateFilter" class="form-control sm" (change)="filtrarPorFecha()">
                      <option value="Hoy">Hoy</option>
                      <option value="EstaSemana">Esta semana</option>
                      <option value="EsteMes">Este mes</option>
                      <option value="">Todas</option>
                    </select>
                  </div>
                  
              </div>
                
            </div>
           
            </div>
           

    </div>
 
    <div class="container" style="margin-top: 40px;">
      <h3 *ngIf="usuario.Rol =='Alumno'" class="text-center">Mis solicitudes</h3>
      <table class="table table-bordered text-center">
        <thead class="table-light">
            <tr>
               
                <th  *ngIf="usuario.Rol =='Administrador'" scope="col">Matrícula</th> 
                <th  *ngIf="usuario.Rol =='Administrador'" scope="col">Nombre</th>                
                <th scope="col">Fecha de Préstamo</th>
                <th scope="col">Fecha de Devolución</th>
                <th scope="col">Materia</th>
                
               <th  *ngIf="usuario.Rol =='Alumno'" scope="col">Estatus</th>
                <th  *ngIf="usuario.Rol =='Administrador'" scope="col">Detalles</th>
                
              
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solisFiltradas">
              <td *ngIf="usuario.Rol =='Administrador'" >{{ solicitud.matriculaSolic }}</td>
              <td *ngIf="usuario.Rol =='Administrador'" >{{ solicitud.nombreSolicitante }}</td>
              <td>{{ solicitud.fechaInicio }}</td>
              <td>{{ solicitud.fechaFin }}</td>
              <td>{{ solicitud.materia }}</td>
             <td  *ngIf="usuario.Rol =='Alumno'">{{solicitud.estado}}</td>
             
            
              <td>
                <button type="button" 
                *ngIf="usuario.Rol =='Administrador'"
                class="btn btn-outline-primary" data-bs-toggle="modal" 
                data-bs-target="#modalDetallesSolicitud"  (click)="seleccionarSolicitud(solicitud)">Ver más</button>
              </td>
          </tr>
      </tbody>
      </table>
      
      
    </div>
</div>



<!-- Modal detalles de solicitud -->
<div class="modal fade" id="modalDetallesSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Detalles de solicitud</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Verifica si hay una solicitud seleccionada -->
        <div *ngIf="solicitudSeleccionada">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Nombre del solicitante</th>
                <td>{{ solicitudSeleccionada.nombreSolicitante }}</td>
              </tr>
              <tr>
                <th>Matrícula</th>
                <td>{{ solicitudSeleccionada.matriculaSolic }}</td>
              </tr>
              <tr>
                <th>Materia</th>
                <td>{{ solicitudSeleccionada.materia }}</td>
              </tr>
              <tr>
                <th>Fecha de inicio</th>
                <td>{{ solicitudSeleccionada.fechaInicio }}</td>
              </tr>
              <tr>
                <th>Fecha de fin</th>
                <td>{{ solicitudSeleccionada.fechaFin }}</td>
              </tr>
              <tr>
                <th>Recursos solicitados:</th>
                <td>
                  <ul>
                    <li *ngFor="let recurso of solicitudSeleccionada.recursos">{{ recurso }}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Motivo del préstamo:</th>
                <td>{{ solicitudSeleccionada.motivo }}</td>
              </tr>
              <tr>
                <th>Estatus</th>
                <td>
                  <select class="form-control"[(ngModel)]="solicitudSeleccionada.estatus" (change)="actualizarEstado(solicitudSeleccionada, solicitudSeleccionada.estatus)">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Aprobada">Aprobada</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Rechazada">Rechazada</option>
                  </select>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5 text-center" id="exampleModalLabel">Nueva solicitud</h3>
        <button type="button" id="btnCerrarModalSolicitud" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #solicitudForm="ngForm">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nombreSolicitantes">Nombre del solicitante:</label>
              <input type="text" id="nombreSolicitante" class="form-control" [(ngModel)]="nuevaSolicitud.nombreSolicitante" name="nombreSolicitante" required>
            </div>
            <div class="col-md-6">
              <label for="matriculaSolic">Matrícula:</label>
              <input type="text" id="matriculaSolic" class="form-control" [(ngModel)]="nuevaSolicitud.matriculaSolic" name="matriculaSolic" required>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="carrera">Carrera:</label>
              <select id="carrera" class="form-control" name="carreraSolicitante" required [(ngModel)]="nuevaSolicitud.carreraSolicitante">
                <option value="" disabled selected>Selecciona tu carrera</option>
                <option value="IIS">IIS</option>
                <option value="ISCE">ISCE</option>
              
              </select>
            </div>
            <div class="col-md-6">
              <label for="materia">Materia: </label>
              <input id="materia" type="text" class="form-control" name="materia" [(ngModel)]="nuevaSolicitud.materia" required>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="fechaInicio">Fecha de inicio de préstamo:</label>
              <input id="fechaInicio" class="form-control" style="width: 365px;" type="date" name="fechaUso" required [(ngModel)]="nuevaSolicitud.fechaInicio">
            </div>
            <div class="col-md-6">
              <label for="fechaFin">Fecha de fin de préstamo:</label>
              <input id="fechaFin"  class="form-control" style="width: 365px;" type="date" [(ngModel)]="nuevaSolicitud.fechaFin" name="fechaFin" required>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="horarioPrestamo">Horario de préstamo</label>
              <input id="horarioPrestamo"  class="form-control" style="width: 365px;" type="time" class="form-select" min="08:00" max="18:00" name="horarioPrestamo" [(ngModel)]="nuevaSolicitud.horarioInicio" required>
            </div>
            <div class="col-md-6">
              <label for="comentarios">Motivo del préstamo:</label>
              <textarea id="comentarios"  class="form-control" [(ngModel)]="nuevaSolicitud.motivo" style="width: 365px;" name="motivo" required></textarea>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!solicitudForm.form.valid" (click)="agregarSolicitud( solicitudForm)">Agregar recursos</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

