<app-navbar></app-navbar>
<h1 class="md:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center" style=" margin-top: 25px; font-size: 35px;">Solicitar un recurso</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="filter-container custom-filter-container card p-3 shadow-sm"  data-bs-toggle="modal" data-bs-target="#modalSolicitud" (click)="abrirModalNuevaSolicitud()" >
                <button type="button" class="btn btn-outline-success">Nueva solicitud</button>
                
            </div>
            <div class="col-6" style="margin-bottom: 60px;">
                <label for="categoryFilter" class="form-label fuentetxt" style="margin-top: 10px;">Filtrar por:</label>
                <select id="categoryfilter" class="form-select fuentetxt2" ><!---[(ngModel)]="categoriaSeleccionada" (change)="aplicarFiltros()"-->
                  <option value="">Todas</option>
                  <option value="">Pendientes</option>
                  <option value="Completadas">Completadas</option>
                  <option value="En curso">En curso</option>
                  <option value="Rechazadas">Rechazadas</option>
                </select>
              </div>
            </div>
           

    </div>
    <h3 class="text-center">Mis solicitudes</h3>
    <div class="container">
      <table class="table table-bordered text-center">
        <thead class="table-light">
            <tr>
               
                <th scope="col">Fecha de Préstamo</th>
                <th scope="col">Fecha de Devolución</th>
                <th scope="col">Recursos Solicitados</th>
                <th scope="col">Estatus</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of listaSolicitudes">
               
                <td>{{ solicitud.fechaInicio }}</td>
                <td>{{ solicitud.fechaFin }}</td>
                <td>{{ solicitud.recursos }}</td>
                <td>{{solicitud.estado}}</td>
                
            </tr>
        </tbody>
      </table>
      
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modalSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5 text-center" id="exampleModalLabel">Nueva solicitud</h3>
        <button type="button" id="btnCerrarModalElemento" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #solicitudForm="ngForm">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nombreSolicitante">Nombre del solicitante:</label>
              <input type="text" id="nombreSolicitante" class="form-control" [(ngModel)]="nuevaSolicitud.nombreSolicitante" name="nombreSolicitante" required>
            </div>
            <div class="col-md-6">
              <label for="matriculaSolic">Matrícula:</label>
              <input type="text" id="matriculaSolic" class="form-control" [(ngModel)]="nuevaSolicitud.matriculaSolic" name="matriculaSolic" required>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="carrera">Carrera:</label>
              <select id="carrera" class="form-control" name="carreraSolicitante" required [(ngModel)]="nuevaSolicitud.carreraSolicitante">
                <option value="" disabled selected>Selecciona tu carrera</option>
                <option value="IIS">IIS</option>
                <option value="ISCE">ISCE</option>
              
              </select>
            </div>
            <div class="col-md-6">
              <label for="materia">Materia: </label>
              <input id="materia" type="text" class="form-control" name="materia" [(ngModel)]="nuevaSolicitud.materia" required>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="fechaInicio">Fecha de inicio de préstamo:</label>
              <input id="fechaInicio" style="width: 365px;" type="date" name="fechaUso" required [(ngModel)]="nuevaSolicitud.fechaInicio">
            </div>
            <div class="col-md-6">
              <label for="fechaFin">Fecha de fin de préstamo:</label>
              <input id="fechaFin" style="width: 365px;" type="date" [(ngModel)]="nuevaSolicitud.fechaFin" name="fechaFin" required>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="horarioPrestamo">Horario de préstamo</label>
              <input id="horarioPrestamo" style="width: 365px;" type="time" class="form-select" min="08:00" max="18:00" name="horarioPrestamo" [(ngModel)]="nuevaSolicitud.horarioInicio" required>
            </div>
            <div class="col-md-6">
              <label for="comentarios">Motivo del préstamo:</label>
              <textarea id="comentarios" [(ngModel)]="nuevaSolicitud.motivo" style="width: 365px;" name="motivo" required></textarea>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!solicitudForm.form.valid" (click)="agregarSolicitud( solicitudForm)">Agregar recursos</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

