<app-navbar></app-navbar>
<div class="cont-option">
  <div class="option" (click)="navegaraCatalogos()">
    <p class="text-option">Catálogo</p>
  </div>
  
  <div class="option" (click)="navegaraContacto()">
    <p class="text-option">Contáctanos</p>
  </div>

</div>


<div class="banner">
  <p class="textbanner">
    Explora y solicita los materiales esenciales 
    para tus laboratorios de ingeniería, diseñados para impulsar la innovación y el aprendizaje práctico
  </p>
 
</div>  
<div class="cont-pasos">
  <img class ="jaguarimg" src=".\assets\PASO1.png">
  <img class ="jaguarimg" src=".\assets\PASO 2.png">
  <img class="jaguarimg" src=".\assets\PASO 3.png">
</div>