<app-navbar></app-navbar>

<div class="contenedor">
  <div class="menu">
    <div class="botonesMenu">
      <div class="boton"><a href="/Catalogos">Catálogo</a></div>
      <div class="boton"><a href="/Solicitudes">Solicitudes</a></div>
    </div>
  </div>

  <div class="texto">
    <p>
      “Explora y solicita los materiales esenciales <br> para tus laboratorios
      de ingeniería,
      diseñados para <br> impulsar la innovación y el aprendizaje práctico”
    </p>
  </div>

  <div class="seccionPasos">
    <div class="caja1" style="text-align: left;">
        <span style="color: #B60A44; font-size: 1.8rem; font-weight: bold; margin-bottom: 10px; display: inline-block;">Paso 1</span>
        <p style="color: #000000;">Mira nuestro catálogo de materiales para encontrar lo que necesitas</p>
    </div>
    <div class="caja" style="text-align: left;">
        <span style="color: #FFFFFF; font-size: 1.8rem; font-weight: bold; margin-bottom: 10px; display: inline-block;">Paso 2</span>
        <p style="color: #FFFFFF;">Escoge el material, recuerda responder toda la información</p>
    </div>  
    <div class="caja3" style="text-align: left;">
        <span style="color: #FFFFFF; font-size: 1.8rem; font-weight: bold; margin-bottom: 10px; display: inline-block;">Paso 3</span>
        <p style="color: #FFFFFF;">¡Listo, solo espere la respuesta!</p>
    </div>
    <div class="caja4" style="text-align: left;"></div> <!-- Caja vacía -->
</div>

<!-- Footer -->
<footer class="footer">
  <!-- Contenido del footer si es necesario -->
</footer>
