<app-navbar></app-navbar>

<div class="contenedor">
  <div class="menu">
    <div class="botonesMenu">
      <a href="/Catalogos"> <div class="boton">Catálogo</div></a>
      <a href="/Solicitudes"><div class="boton">Solicitudes</div></a>
     
      
    </div>
  </div>

  <div class="texto" >
    <p>
      “Explora y solicita los materiales esenciales <br> para tus laboratorios
      de ingeniería,
      diseñados para <br> impulsar la innovación y el aprendizaje práctico”
    </p>
  </div>

  <div class="seccionPasos">
    <div class="caja1" style="text-align: left;">
        <span style="color: #B60A44; font-size: 1.8rem; font-weight: bold; margin-bottom: 10px; display: inline-block;">Paso 1</span>
        <p style="color: #000000;">Mira nuestro catálogo de materiales para encontrar lo que necesitas</p>
    </div>
    <div class="caja" style="text-align: left;">
        <span style="color: #FFFFFF; font-size: 1.8rem; font-weight: bold; margin-bottom: 10px; display: inline-block;">Paso 2</span>
        <p style="color: #FFFFFF;">Escoge el material, recuerda responder toda la información</p>
    </div>  
    <div class="caja3" style="text-align: left;">
        <span style="color: #FFFFFF; font-size: 1.8rem; font-weight: bold; margin-bottom: 10px; display: inline-block;">Paso 3</span>
        <p style="color: #FFFFFF;">¡Listo, solo espere la respuesta!</p>
    </div>
    <div class="caja4" style="text-align: left;"></div> <!-- Caja vacía -->
</div>
</div>

<!--Contenedor de vista administrador-->

<div *ngIf="usuario.Rol =='Administrador'">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
  </div>
</div>
