<nav class="navigation-rail">
    <div class="navbar-container">
      <!-- Logo -->
      <div class="navbar-logo">
        <img class="logo-img" src=".\assets\image 3.png">
      </div>
      <!-- Enlaces -->
      <div class="navbar-links">
        <!-- Enlace visible solo para alumnos -->
       <!-- Enlace visible solo para administradores -->
       <a *ngIf="usuario?.Rol === 'Administrador'" routerLink="/Catalogos">Catálogos</a>
        <a> <img class="icon-user" src=".\assets\icon _account_.png"></a>
      </div>
    </div>
  </nav>
  