<nav class="navigation-rail">
    <div class="navbar-container">
      <!-- Logo -->
      <div class="navbar-logo">
        <img class="logo-img" src=".\assets\image 3.png">
      </div>
      <!-- Enlaces -->
      <div class="navbar-links">
        <!-- Enlace visible solo para alumnos -->
        <a *ngIf="usuario?.Rol === 'Alumno'" href="/Main  ">Inicio</a>
        <a *ngIf="usuario?.Rol === 'Alumno'" href="/Solicitudes">Solicitudes</a>
        <a *ngIf="usuario?.Rol === 'Alumno'" href="/Catalogos">Catálogo</a>
        
       <!-- Enlace visible solo para administradores -->
       
        <a href="/Perfil"> <img class="icon-user" src=".\assets\icon _account_.png"></a>
        
      </div>
    </div>
  </nav>
  