<app-navbar></app-navbar>

<section class="infoUsuario">
    
    <div class="detallesUsuario">
        <div class="fotoUsuario">
            <img src=".\assets\icon _account_.png" alt="Una foto de perfil del usuario">
        </div>
        <div *ngFor="let usuario of usuarios" class="datosUsuario"> <!-- Aqui la va informacion del usuario, le deje la que venia en la imagen para que no se viera vacio -->
            <h1>Información del Usuario</h1>
            <p><strong>Nombre completo: {{usuario.Nombre}}</strong> </p>
            <p><strong>Correo electrónico:{{usuario.Correo}}</strong></p>
            <p><strong>Clave:</strong>{{usuario.Periodo}}</p> 
        </div>
    </div>
    
</section>

<section class="solicitudUsuario">
    <h2>Mis solicitudes</h2>
</section>
    


